NEXT_PUBLIC_SUPABASE_URL=https://xqlbxcfzhtjegcbpfuml.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
TURBO_SMTP_CONSUMER_KEY=
TURBO_SMTP_CONSUMER_SECRET=
FROM_EMAIL=hello@heysynk.app
FROM_NAME=heySynk
NEXT_PUBLIC_APP_URL=https://app.heysynk.app
